/* @group Reset */

/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


// ERIC MEYER RESET
// ----------------

html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }


// HTML5
// -----

header, section, footer, article, aside {
  display: block;
}
/* @end */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.ttf');
}

html {
  background:#ADD8C7 url(../image/noise.png) repeat 0 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height:1.5;
  padding:50px 0;
  color: rgb(85,85,85);
}

a {
  color: #FEA436;
  text-decoration:none;
  font-weight:bold;
}

a:hover {
  color: #C6761D;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

aside {
  float:right;
  width:240px;
}

aside h1 {
  font-size:38px;
  margin:20px;
  text-shadow:#70AFC4 2px 0 0px;
}

.about h2 {
  font-size:25px;
  margin-bottom:20px;
}

.about .twitter-images {
  float:left;
}

.twitter-images img {
  display:block;
  width:64px;
  height:64px;
  float:left;
  margin-right:10px;
}

aside p {
  margin:0 20px 20px;
}

article {
  margin-right:260px;
  padding-bottom:40px;
}

.about {
  padding:50px;
  background-color:#E3E8CF;
  margin-right:260px;
  overflow:hidden;
}

.preview-img {
  background-color:#fff;
  margin-bottom: 40px;
  box-shadow:rgba(0,0,0,0.5) 0 3px 10px;
}

.preview-img img {
  max-width:580px;
  min-height:400px;
  display:block;
  margin:20px auto;
}